@use '../base/variables' as v;
@use '../base/mixin' as m;

.about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 130px;

    @media (max-width: v.$tablet) {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
    }

    @media (max-width: v.$telefono) {
        gap: 30px;
    }
}

.about-section {
    width: 600px;
    margin: 75px;
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: v.$tablet) {
        width: 90%;
        margin: 20px auto;
    }

    @media (max-width: v.$telefono) {
        padding: 15px;
    }

    h2 {
        font-size: 4rem;
        text-align: center;
        color: #f8d100;
        margin-bottom: 20px;

        @media (max-width: v.$tablet) {
            font-size: 3rem;
        }

        @media (max-width: v.$telefono) {
            font-size: 2.5rem;
        }
    }

    p {
        margin-bottom: 15px;
        text-align: justify;
    }

    strong {
        color: #eba448;
    }
}

.rotateCircle {
    animation: rotateCircle 3s linear infinite;
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

.figuras {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 20rem;

    @media (max-width: v.$tablet) {
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
}

.circulo,
.nube {
    width: 20rem;
    animation: rotateCircle 5s infinite linear;
    margin-left: 40px;

    @media (max-width: v.$tablet) {
        width: 15rem;
        margin-left: 0;
    }

    @media (max-width: v.$telefono) {
        width: 10rem;
    }
}

.circulo {
    width: 15rem;
    margin-bottom: 10rem;

    @media (max-width: v.$tablet) {
        width: 12rem;
    }

    @media (max-width: v.$telefono) {
        width: 8rem;
    }
}

.nube {
    z-index: 3;
    margin-top: 400px;
    width: 30rem;
    position: absolute;

    @media (max-width: v.$tablet) {
        margin-top: 200px;
        width: 25rem;
    }

    @media (max-width: v.$telefono) {
        margin-top: 100px;
        width: 20rem;
    }
}

.perfil {
    position: absolute;
    z-index: 1;
    width: 75rem;

    @media (max-width: v.$tablet) {
        width: 50rem;
    }

    @media (max-width: v.$telefono) {
        width: 30rem;
    }
}

.volteado {
    width: 300px;
    height: auto;
    transform: rotateY(-30deg);
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: rotateY(0deg);
    }
}
