@use '../base/variables' as v;
@use '../base/mixin' as m;

.encabezado__navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    text-align: center;
    z-index: 100;

    nav {
        display: flex;
        gap: 20px;

        @media (max-width: v.$tablet) {
            flex-direction: column;
            gap: 10px;
        }

        @media (max-width: v.$telefono) {
            gap: 5px;
        }
    }

    li {
        list-style: none;
        color: v.$blanco;
        margin: 0 15px;
        font-size: 18px;

        @media (max-width: v.$tablet) {
            font-size: 16px;
            margin: 0 10px;
        }

        @media (max-width: v.$telefono) {
            font-size: 14px;
            margin: 0 5px;
        }
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        margin: 1rem;
        transition: color 0.3s ease;

        &:hover {
            color: v.$primario;
        }

        @media (max-width: v.$tablet) {
            margin: 0.8rem;
            font-size: 16px;
        }

        @media (max-width: v.$telefono) {
            margin: 0.5rem;
            font-size: 14px;
        }
    }
}
